* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    min-height: 0;
    font-weight: bold;
}

#waybar {
    background: rgba(30, 30, 30, 0.7);
    padding: 0px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}
button:hover {
    background: inherit;
    color: #ff8fc7;
    border-bottom: 2px solid #ff8fc7;
}

#workspaces button {
    padding: 0 8px;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: #f5e0dc;
    border-bottom: 2px solid #f5e0dc;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ff8fc7;
    border-bottom: 2px solid #ff8fc7;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces,
#custom-power,
#network,
#battery,
#pulseaudio,
#clock {
    margin: 2px 6px 0;
    padding: 0 4px;
}

#network {
    border-bottom: 1px solid #f1fa8c;
}
#network:hover {
    color: #f1fa8c;
    border-bottom: 2px solid #f1fa8c;
}

#battery {
    border-bottom: 1px solid #bd93f9;
}
#battery:hover {
    color: #bd93f9;
    border-bottom: 2px solid #bd93f9;
}

#pulseaudio {
    border-bottom: 1px solid #50fa7b;
}
#pulseaudio:hover {
    color: #50fa7b;
    border-bottom: 2px solid #50fa7b;
}

#clock {
    border-bottom: 1px solid #8be9fd;
}
#clock:hover {
    color: #8be9fd;
    border-bottom: 2px solid #8be9fd;
}

#custom-power {
    padding-left: 9px;
    border-bottom: 2px solid #ffffff;
}
